<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="WorkingDir" value="C:\Users\lean\AppData\Local\Temp\Contractor"/>
    <!-- Corral args -->
    <add key="CorralDefaultArgs" value="/recursionBound:3" />
    
    <!-- CodeContracts args -->
    <add key="CccheckFullName" value="C:\Program Files (x86)\Microsoft\Contracts\Bin\cccheck.exe" />
    <add key="CccheckArgs" value="-stats=!! -remote -show=errors,validations -nobox -nologo -nopex -assemblyMode=standard -suggest=!! -warninglevel full -wp -adaptive -arithmetic -bounds -enum -nonnull -sortwarns=false -typeNameSelect=@fullTypeName -libPaths:&quot;@libPaths&quot; &quot;@assemblyName&quot;" />
    <add key="Netv20" value="
			@windows\Microsoft.NET\Framework\v2.0.50727\;
			@windows\Microsoft.NET\Framework\v2.0.50727\CodeContracts;
			@codeContracts\PublicAssemblies\v3.5\;
			@codeContracts\PublicAssemblies\v3.5\CodeContracts;
			@codeContracts\Contracts\v3.5
		" />
    <add key="Netv30" value="
			@windows\Microsoft.NET\Framework\v2.0.50727\;
			@windows\Microsoft.NET\Framework\v2.0.50727\CodeContracts;
			@codeContracts\PublicAssemblies\v3.5\;
			@codeContracts\PublicAssemblies\v3.5\CodeContracts;
			@codeContracts\Contracts\v3.5
		" />
    <add key="Netv35" value="
			@windows\Microsoft.NET\Framework\v2.0.50727\;
			@windows\Microsoft.NET\Framework\v2.0.50727\CodeContracts;
			@programFiles\Reference Assemblies\Microsoft\Framework\v3.5\;
			@programFiles\Reference Assemblies\Microsoft\Framework\v3.5\CodeContracts;
			@codeContracts\PublicAssemblies\v3.5\;
			@codeContracts\PublicAssemblies\v3.5\CodeContracts;
			@codeContracts\Contracts\v3.5
		" />
    <add key="Netv35ClientProfile" value="
			@programFiles\Reference Assemblies\Microsoft\Framework\.NETFramework\v3.5\Profile\Client\;
			@programFiles\Reference Assemblies\Microsoft\Framework\.NETFramework\v3.5\Profile\Client\CodeContracts;
			@codeContracts\PublicAssemblies\v3.5\;
			@codeContracts\PublicAssemblies\v3.5\CodeContracts;
			@codeContracts\Contracts\v3.5
		" />
    <add key="Netv40" value="
			@programFiles\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.0\;
			@programFiles\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.0\CodeContracts;
			@codeContracts\Contracts\.NETFramework\v4.0
		" />
    <add key="Netv40ClientProfile" value="
			@programFiles\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.0\Profile\Client\;
			@programFiles\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.0\Profile\Client\CodeContracts;
			@codeContracts\Contracts\.NETFramework\v4.0
		" />
  </appSettings>
</configuration>